@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

.calculator {
  margin-top: 100px;
}

.calculator__body {
  width: 380px;
  margin: 20px auto;
  background: #f5c594;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 30px;
  box-shadow: 17px 21px 34px -8px rgba(148, 148, 148, 1);
  height: 550px;
  padding: 8px;
  -webkit-box-shadow: 17px 21px 34px -8px rgba(148, 148, 148, 1);
  -moz-box-shadow: 17px 21px 34px -8px rgba(148, 148, 148, 1);
}

.calculator__frame {
  border: 1px solid rgb(168, 168, 168);
  border-radius: 30px;
  padding: 7px;
  width: 100%;
}

.calculator__display {
  background: #eee8e2;
  border: 15px solid #4d2e07;
  border-top: 45px solid #3b2306;
  border-radius: 20px;
  box-shadow: inset 6px 11px 4px -9px rgba(0, 0, 0, 0.39);
  font-family: 'Aldrich', sans-serif;
  font-size: 35px;
  height: 135px;
  margin: 15px 0 25px 0;
  padding-left: 5px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  -webkit-box-shadow: inset 6px 11px 4px -9px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: inset 6px 11px 4px -9px rgba(0, 0, 0, 0.39);
}

.calculator__display:focus {
  outline: none;
}

.calculator__button_row {
  align-items: center;
  border-top: 1px solid grey;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 5px 0;
  width: 100%;
}

.calculator__button {
  border-radius: 100%;
  background: #4d2e07;
  box-shadow: 6px 11px 4px -9px rgba(115, 115, 115, 0.68);
  color: rgba(255, 255, 255, 0.932);
  cursor: pointer;
  height: 60px;
  line-height: 0;
  margin: 0 5px;
  width: 60px;
  -webkit-box-shadow: 6px 11px 4px -9px rgba(115, 115, 115, 0.68);
  -moz-box-shadow: 6px 11px 4px -9px rgba(115, 115, 115, 0.68);
}

.calculator__button--big_horizontal {
  border-radius: 15px;
  box-shadow: 6px 11px 4px -9px rgba(115, 115, 115, 0.68);
  width: 130px;
  -webkit-box-shadow: 6px 11px 4px -9px rgba(115, 115, 115, 0.68);
  -moz-box-shadow: 6px 11px 4px -9px rgba(115, 115, 115, 0.68);
}

.calculator__button:active {
  transform: translateY(1px);
  background: #4d2e07;
  box-shadow: inset 6px 11px 4px -9px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: inset 6px 11px 4px -9px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: inset 6px 11px 4px -9px rgba(0, 0, 0, 0.39);
}
